# Ignore local environment files
.env
.env.local

# Ignore dependencies
node_modules/
package-lock.json

# Ignore Editor settings (since you have a .vscode folder)
.vscode/

# System files
.DS_Store
Thumbs.db

# Ignore Docker override files
docker-compose.override.yml