# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
.env.*
*.env

# Virtual Environment
.venv/

# Databases
*.db
*.sqlite3

# Logs, temp, IDEs
*.log
*.bak
*.swp
*.tmp
*.DS_Store
.idea/
.vscode/

# SQL & backups
.sql
/backup/

# Node.js (if frontend exists)
node_modules/

